
.text2{
  font-size:24px;
  margin-left:20px;
}
.btn{
  font-size:20px;
  background-color:lightgreen;
  margin-left:20px;
  width:120px;
}
.text3{
  font-size:21px;
  margin-left:92px;
}
.text4{
  font-size:21px;
  margin-left:160px;
}
.text6{
  font-size:21px;
  margin-left:185px;
}
.text5{
  font-size:20px;
  margin-left:20px;
  text-align:center;
}
.game_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.game_mode{
  width:25%;
  height:98%;
  position:absolute;
  z-index:10;
  right:74.5%;
  bottom:1%;
  background-color:LightBlue;
  border:2px solid;
  border-radius:5px;
}

.text0{
  font-size:24px;
  font-family:arial;
  text-align:center;
}

.text1{
  font-size:18px;
  font-family:arial;
  text-align:center;
}

.btn1{
  font-size:20px;
  background-color:lightgreen;
  text-align:center;
  width:180px;
  height:50px;
  position: absolute;
  left: 24%;
  top: 25%;
  border:2px solid;
  border-radius:4px;
}

.btn2{
  font-size:20px;
  background-color:lightgreen;
  text-align:center;
  width:180px;
  height:50px;
  position: absolute;
  left: 24%;
  top: 40%;
  border:2px solid;
  border-radius:4px;
}

.btn3{
  font-size:20px;
  background-color:lightgreen;
  text-align:center;
  width:180px;
  height:50px;
  position: absolute;
  left: 24%;
  top: 55%;
  border:2px solid;
  border-radius:4px;
}

.btn4{
  font-size:20px;
  background-color:lightcyan;
  text-align:center;
  width:180px;
  height:50px;
  position: absolute;
  left: 24%;
  top: 70%;
  border:2px solid;
  border-radius:4px;
}

.workspace{
  width:73.5%;
  height:98%;
  position:absolute;
  z-index:10;
  right:0.5%;
  bottom:1%;
  background-color:LightBlue;
  border:2px solid;
  border-radius:5px;
}

